In [2]:
import pandas as pd

sales_df = pd.read_csv(r"C:\Users\Hugo\Documents\MEGA\PROYECTOS\Personal proyects\DA_1 with python\Data\sales_data.csv")

In [11]:
print(sales_df.head())

         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

In [6]:
sales_df.shape()
# Num rows: 113036
# Num Cols: 18

(113036, 18)

In [10]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [12]:
sales_df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

## I will look depper in main rows

In [13]:
sales_df['Unit_Cost'].describe()

count    113036.000000
mean        267.296366
std         549.835483
min           1.000000
25%           2.000000
50%           9.000000
75%          42.000000
max        2171.000000
Name: Unit_Cost, dtype: float64

In [14]:
sales_df['Age_Group'].value_counts()

Age_Group
Adults (35-64)          55824
Young Adults (25-34)    38654
Youth (<25)             17828
Seniors (64+)             730
Name: count, dtype: int64

## Adding new data columns

In [15]:
sales_df['caculated_cost'] = sales_df['Order_Quantity'] * sales_df['Unit_Cost']

In [16]:
sales_df['caculated_cost'].describe()

count    113036.000000
mean        469.318695
std         884.866118
min           1.000000
25%          28.000000
50%         108.000000
75%         432.000000
max       42978.000000
Name: caculated_cost, dtype: float64

In [18]:
# Cost validation
(sales_df['caculated_cost'] != sales_df['Cost']).sum()

np.int64(0)

In [19]:
sales_df['calculated_revenue'] = sales_df['Cost'] + sales_df['Profit']
sales_df['calculated_revenue'].describe()

count    113036.000000
mean        754.370360
std        1309.094674
min           2.000000
25%          63.000000
50%         223.000000
75%         800.000000
max       58074.000000
Name: calculated_revenue, dtype: float64

In [21]:
# Revenue validation
(sales_df['calculated_revenue'] != sales_df['Revenue']).sum()

np.int64(0)

# Revenue for age group

### age froup Adults 35 - 64 years old

In [31]:
print(sales_df.loc[(sales_df['Customer_Age'] >= 35) & (sales_df['Customer_Age'] <= 64)].value_counts().sum())

55824

### Age group Young Adults (25-34)

In [32]:
sales_df.loc[(sales_df['Customer_Age'] >= 25) & (sales_df['Customer_Age'] <= 34)].value_counts().sum()

np.int64(38654)

### Age group Youth (<25)

In [33]:
sales_df.loc[(sales_df['Customer_Age'] < 25)].value_counts().sum()

np.int64(17828)

### Age group Seniors (64+)

In [34]:
sales_df.loc[(sales_df['Customer_Age'] > 64)].value_counts().sum()

np.int64(730)